<h1><%= @instance.description %> has been updated</h1>
<p>Event date is <%= @instance.relevant_date.strftime("%b %e %Y at %l:%M %p %Z") %></p>
<p>Attached is a new ticket. Please bring this with you to the event</p>