<div class="six columns offset-by-three end">
	<h1>Editing ticket</h1>

	<%= render 'form' %>

	<p class="text-right">
	<%= link_to 'Show', @issuance, class: 'small button' %>
	<%= link_to 'Back', issuances_path, class: 'secondary small button' %>
	</p>
</div>
