/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

a:hover {
	background-color: transparent;
	text-decoration: underline;
}

 .nav-container {

 	background: #1E68C5;

 	#home {
 		font-size: 1.5em;
 		padding-top: 0.4em;

 		a {
 			color: #f6f3ff;
 		}

 		a:hover {
 			background: none;
 			text-decoration: underline;
 		}
 	}

 	.nav-bar {
 		margin-top: 0;
 		background: transparent;
 		height: auto;

 		li{
 			float: right;
 			border-color: #3783D0;
 			border-top: 0;
 			border-bottom: 0;
 			-webkit-box-shadow: 0 0 0;
			-moz-box-shadow: 0 0 0;
			box-shadow: 0 0 0;

			a:hover {
				background:#6793f0;
			}
 		}

 		& > li:last-child {
 			border-right-width: 0;
 			-webkit-box-shadow: 0 0 0;
			-moz-box-shadow: 0 0 0;
			box-shadow: 0 0 0;
 		}

 		& > li:first-child {
 			border-right: 1px solid #3783D0;
 			-webkit-box-shadow: 0 0 0;
			-moz-box-shadow: 0 0 0;
			box-shadow: 0 0 0;
 		}
 	}

 }
